<slave>
  <name>NodeStatic</name>
  <description></description>
  <remoteFS>/home/ubuntu/jenk</remoteFS>
  <numExecutors>1</numExecutors>
  <mode>NORMAL</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
  <launcher class="hudson.plugins.sshslaves.SSHLauncher" plugin="ssh-slaves@1.29.4">
    <host>Change_Me_to_IP</host>
    <port>22</port>
    <credentialsId>902d3b30-9c09-42fd-babf-c9a93b09c090</credentialsId>
    <launchTimeoutSeconds>210</launchTimeoutSeconds>
    <maxNumRetries>10</maxNumRetries>
    <retryWaitTime>15</retryWaitTime>
    <sshHostKeyVerificationStrategy class="hudson.plugins.sshslaves.verifiers.NonVerifyingKeyVerificationStrategy"/>
    <tcpNoDelay>true</tcpNoDelay>
  </launcher>
  <label>node</label>
  <nodeProperties/>
</slave>