<?xml version='1.1' encoding='UTF-8'?>
<slave>
  <name>NodeStatic</name>
  <description></description>
  <remoteFS>/home/ubuntu/jenk</remoteFS>
  <numExecutors>1</numExecutors>
  <mode>NORMAL</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
  <launcher class="hudson.plugins.sshslaves.SSHLauncher" plugin="ssh-slaves@1.29.4">
    <host>Change_Me_to_IP</host>
    <port>22</port>
    <credentialsId>a9e580a1-1d3e-4e8a-929c-4f07a36ae54a</credentialsId>
    <launchTimeoutSeconds>210</launchTimeoutSeconds>
    <maxNumRetries>10</maxNumRetries>
    <retryWaitTime>15</retryWaitTime>
    <sshHostKeyVerificationStrategy class="hudson.plugins.sshslaves.verifiers.NonVerifyingKeyVerificationStrategy"/>
    <tcpNoDelay>true</tcpNoDelay>
  </launcher>
  <label>Slave</label>
  <nodeProperties/>
</slave>